*{
    margin:0;
    padding:0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;

}

.body{
    background-color: #D1B3C4;
}
.home-wrapper{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
.heading{
   margin-bottom: 20px;
   width:100%;
   text-align: center;
    
}

.auth-btn {
    display: flex;
    justify-content: center;
}

.auth-btn button {
    margin: 0 10px;
}