<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Sign Up form</title>
    <link rel="stylesheet" type="text/css" href="/public/style.css">
    <script src="https://kit.fontawesome.com/836b38cfcf.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="form-box">
            <h1 id="title">Log in</h1>
            <form method="POST" action="/login">
                <div class="input-field">
                    <i class="fa-solid fa-envelope"></i>
                    <input type="email" name="email" placeholder="Enter your email">
                </div>
                <div class="input-field">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" name="password" placeholder="Enter your password">
                </div>
                <div class="btn-field">
                    <button type="submit" id="loginBtn">Log in</button>   
                </div>
            </form>
            <% if (message) { %>
            <p><%= message %></p>
            <% } %>
        </div>
    </div>
</body>
</html>
