<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" src="/public/style.css">
    <script src="https://kit.fontawesome.com/836b38cfcf.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap" rel="stylesheet">
</head>


<body>
    <div class="container">
        <div class="form-box">
            <h1 id="title">Register</h1>
            <form>
                <div class="input-field">
                    <i class="fa-solid fa-user"></i>
                    <input type="text" name="username" placeholder="Enter your username">
                </div>
                <div class="input-field">
                    <i class="fa-solid fa-envelope"></i>
                    <input type="email" name="email" placeholder="Enter your email">
                </div>
                <div class="input-field">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" name="password" placeholder="Enter your password">
                </div>
        </div>
        <div class="btn-field">
            <button type="button" class="disable" id="loginBtn">Register</button>
        </div>
        </form>
    </div>
    </div>
</body>

</html>

<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/public/style.css">
    <script src="https://kit.fontawesome.com/836b38cfcf.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap" rel="stylesheet">
</head>


<body>
    <div class="container">
        <div class="form-box">
            <h1 id="title">Register</h1>
            <form id="registerForm" method="POST" action="/register">
                <div class="input-field">
                    <i class="fa-solid fa-user"></i>
                    <input type="text" name="username" placeholder="Enter your username">
                </div>
                <div class="input-field">
                    <i class="fa-solid fa-envelope"></i>
                    <input type="email" name="email" placeholder="Enter your email">
                </div>
                <div class="input-field">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" name="password" placeholder="Enter your password">
                </div>
                <div class="btn-field">
                    <button type="button" id="registerBtn">Register</button>
                </div>
            </form>
            <% if (message) { %>
            <p><%= message %></p>
            <% } %>
        </div>
    </div>

    <script>
        document.getElementById('registerBtn').addEventListener('click', function() {
            var form = document.getElementById('registerForm');
            var formData = new FormData(form);

            fetch('/register', {
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (response.redirected) {
                    window.location.href = response.login;
                } else {
                    return response.text();
                }
            })
            .then(data => {
                if (data) {
                    var messageElement = document.createElement('p');
                    messageElement.textContent = data;
                    document.querySelector('.form-box').appendChild(messageElement);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    </script>
</body>

</html> -->
